@font-face {
    font-family: 'Cal Sans';
    src: url(../assets/fonts/CalSans-SemiBold.woff2);
}
@font-face {
    font-family: 'Inter Regular';
    src: url(../assets/fonts/Inter-Regular.woff2);
}
@font-face {
    font-family: 'Inter SemiBold';
    src: url(../assets/fonts/Inter-SemiBold.woff2);
}